<ion-header>
    <ion-toolbar color="danger">
        <ion-title>train</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <p style="text-align: center;">{{displayTime}}</p>
    <ion-icon ios="ios-subway" md="md-subway" color="danger" style="zoom:6.0;"></ion-icon>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--Question 1-->
    <div *ngIf="question1">
        <p style="text-align: center;">1. A goods train runs at the speed of 72 kmph and accrosses a 250 m long platform in 26 seconds. What is the length of the goods train?</p>
        <ion-radio-group [(ngModel)]="Question1">
            <ion-item>
                <ion-label>230 m</ion-label>
                <ion-radio slot="start" color="danger" value="230 m"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>240 m</ion-label>
                <ion-radio slot="start" color="danger" value="240" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>260 m</ion-label>
                <ion-radio slot="start" color="danger" value="260 m"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>270 m</ion-label>
                <ion-radio slot="start" color="danger" value="270 m"></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <br>
        <ion-button class="start" expand="full" color="danger" (click)="Submit1()">Next</ion-button>
    </div>
    <!--Question 2-->
    <div *ngIf="question2">
        <p style="text-align: center;">2. A train 240 m long passes a pole in 24 seconds. How long will it take to pass a platform 650 m long?</p>
        <ion-radio-group [(ngModel)]="Question2">
            <ion-item>
                <ion-label>65 sec</ion-label>
                <ion-radio slot="start" color="danger" value="65 sec"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>89 sec</ion-label>
                <ion-radio slot="start" color="danger" value="89 sec" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>100 sec</ion-label>
                <ion-radio slot="start" color="danger" value="100 sec"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>150 sec</ion-label>
                <ion-radio slot="start" color="danger" value="150 sec"></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <br>
        <ion-button class="start" expand="full" color="danger" (click)="Submit2()">Next</ion-button>
    </div>
    <!--Question 3-->
    <div *ngIf="question3">
        <p style="text-align: center;">3. A train 360 m long is running at a speed of 45 km/hr. In what time will it pass a bridge 140 m long?</p>
        <ion-radio-group [(ngModel)]="Question3">
            <ion-item>
                <ion-label>40 sec</ion-label>
                <ion-radio slot="start" color="danger" value="40 sec"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>42 sec</ion-label>
                <ion-radio slot="start" color="danger" value="42 sec" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>45 sec</ion-label>
                <ion-radio slot="start" color="danger" value="45 sec"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>48 sec</ion-label>
                <ion-radio slot="start" color="danger" value="48 sec"></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <br>
        <ion-button class="start" expand="full" color="danger" (click)="Submit3()">Next</ion-button>
    </div>
    <!--Question 4-->
    <div *ngIf="question4">
        <p style="text-align: center;">4. Two trains are moving in opposite directions at 60 km/h and 90 km/h. Their lengths are 1.10 and 0.9 respectively. The time taken by the slower train to cross the faster train in seconds is:</p>
        <ion-radio-group [(ngModel)]="Question4">
            <ion-item>
                <ion-label>36</ion-label>
                <ion-radio slot="start" color="danger" value="36"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>45</ion-label>
                <ion-radio slot="start" color="danger" value="45" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>48</ion-label>
                <ion-radio slot="start" color="danger" value="48"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>49</ion-label>
                <ion-radio slot="start" color="danger" value="49"></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <br>
        <ion-button class="start" expand="full" color="danger" (click)="Submit4()">Next</ion-button>
    </div>
    <!--Question 5-->
    <div *ngIf="question5">
        <p style="text-align: center;">5. A 270 metres long train running at the speed of 120 km/h crosses another train running in opposite direction at the speed of 80 km/h in 9 seconds. What is the length of the other train?</p>
        <ion-radio-group [(ngModel)]="Question5">
            <ion-item>
                <ion-label>230 m</ion-label>
                <ion-radio slot="start" color="danger" value="230 m"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>240 m</ion-label>
                <ion-radio slot="start" color="danger" value="240 m" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>260 m</ion-label>
                <ion-radio slot="start" color="danger" value="260 m"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>320 m</ion-label>
                <ion-radio slot="start" color="danger" value="320"></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-button class="start" expand="full" color="danger" (click)="Submit5()">Next</ion-button>
    </div>
    <!--Result Page-->
    <div *ngIf="question6">
        <p style="text-align: center;"><b>Score board</b></p>

        <ion-item>
            <ion-label>Name:</ion-label>
            <ion-input readonly> &nbsp;{{name}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Your score:</ion-label>
            <ion-input readonly> &nbsp;{{results}} </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Total questions: 5</ion-label>
            <!-- <ion-input readonly>5</ion-input> -->
        </ion-item>
        <ion-item>
            <ion-label>Percentage:</ion-label>
            <ion-input readonly> &nbsp;{{percent}} %</ion-input>
        </ion-item>
        <br>
        <br>
        <br>
        <ion-button class="start" expand="full" color="danger" (click)="Exit()">Exit</ion-button>
    </div>
</ion-content>